/*Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/*Estilo do Cabecalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
}

header a{
    color: #7c7c7c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 32px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.interface h2{
    color: #fff;
    font-size: 29px;
    line-height: 40px;
    text-align: center;
    margin-top: 100px;
}

.habilidades-box{
    align-items: center;
    margin: 10px 30px;
    margin-top: 80px;
}

.imglogo:hover{
    transform: scale(1.05);
}

/* Estilo Sobre */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.img-sobre{
    margin-top: 100px;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #000;
    font-size: 25px;
    cursor: pointer;
    margin: 0 2px;
    transition: .2s;
}

.btn-social button:hover{
    transform: scale(1.05);
}

/* ESTILO DO PORTIFOLIO */

section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff44;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000025;
    color: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
}

/* ESTILO DO RODAPÉ*/

footer{
    padding: 5px 4%;
}

footer .flex{
    justify-content: space-between;
    align-items: center;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    margin-top: -50px;
    border-top: 2px solid #7c7c7c;
}

footer .line-footer p i{
    color: #fff;
    font-size: 30px;
}

footer .line-footer p a{
    color: #fff;
    position: absolute;
    margin: 5px;
}

@media screen and (max-width: 1020px){
    /*CLASSES GERAIS*/
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /*CABECALHO*/
    .menu-desktop, .btn-contato{
        display: none;
    }

    .logo{
        margin: 0 60px;
    }

    /*TOPO DO SITE*/
    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 370px;
    }

    /*ESTILO DE HABILIDADES*/
    .habilidades-box{
        align-items: center;
        margin: 0 70px;
        margin-top: 80px;
    }

    /*SOBRE*/
    section.sobre{
        padding: 60px 8%;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /*PORTIFOLIO*/

    section.portifolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 60px;
    }

    .overlay{
        font-size: 25px;
    }

    /*RODAPE*/
    footer .flex{
        flex-direction: column;
        margin: 30px 0;
    }

    footer .line-footer p a{
        margin: 5px 10px;
    }

    footer .line-footer img{
        align-items: center;
    }
}  
    











